// Place all the styles related to the Admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Styling for Pop-up Modals
.modal
{
  position: absolute;
  top: 175px;
  left: 250px;
  visibility: hidden;
}
// End Styling for Pop-up Modals
